<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Контакты</title>

        <link rel="stylesheet" href="css/app.css">

        <script src="js/app.js" defer></script>
    </head>
    <body class="flex flex-col min-h-screen">
        <header class="bg-white">
			<div class="container mx-auto px-6 py-3">
				<div class="flex items-center justify-between">
					<div class="hidden w-full text-gray-600 md:flex md:items-center">
						<svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.06298 10.063 6.27212 12.2721 6.27212C14.4813 6.27212 16.2721 8.06298 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16755 11.1676 8.27212 12.2721 8.27212C13.3767 8.27212 14.2721 9.16755 14.2721 10.2721Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.39409 5.48178 3.79417C8.90918 0.194243 14.6059 0.054383 18.2059 3.48178C21.8058 6.90918 21.9457 12.6059 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.97318 6.93028 5.17324C9.59603 2.3733 14.0268 2.26452 16.8268 4.93028C19.6267 7.59603 19.7355 12.0268 17.0698 14.8268Z" fill="currentColor" />
						</svg>
						<span class="mx-1 text-sm">Нью-Йорк</span>
					</div>
					<div class="w-full text-gray-700 md:text-center text-2xl font-semibold">Интернет-магазин</div>
					<div class="flex items-center justify-end w-full">
							<a href="#" class="text-gray-600 focus:outline-none ml-4">
								<svg class="h-7 w-7"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"/>
								</svg>
							</a>
							<a href="#" class="text-gray-600 focus:outline-none relative">
								<svg class="h-7 w-7" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
									<path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
								</svg>
								<span id="cart" class="absolute px-1.5 bg-[#2dff35] top-4 left-4 rounded-full text-sm">0</span>
							</a>
							<a href="#" class="text-gray-600 focus:outline-none ml-4">
								<svg class="h-7 w-7"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
								</svg>
							</a>
							<a href="#" class="text-gray-600 focus:outline-none ml-4">
								<svg class="h-7 w-7"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
									<path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  <path d="M7 12h14l-3 -3m0 6l3 -3" />
								</svg>
							</a>
					</div>
				</div>
				<nav :class="isOpen ? '' : 'hidden'" class="sm:flex sm:justify-center sm:items-center mt-4">
					<div class="flex flex-col sm:flex-row">
						<a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Главная</a>
						<a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Каталог</a>
						<a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">Контакты</a>
						<a class="mt-3 text-gray-600 hover:underline sm:mx-3 sm:mt-0" href="#">О нас</a>
					</div>
				</nav>
				<div id="alert-danger" class="flex p-4 mt-8 bg-red-100 rounded-lg dark:bg-red-200 hidden" role="alert">
					<svg aria-hidden="true" class="flex-shrink-0 w-5 h-5 text-red-700 dark:text-red-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
					<span class="sr-only">Info</span>
					<div id="message" class="ml-3 text-sm font-medium text-red-700 dark:text-red-800"></div>
				</div>
			</div>
		</header>
		
        <main class="my-8 grow">
            <div class="w-full mt-8 flex justify-center items-center">
				<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
					<div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
					</div>
					<div class="carousel-inner relative w-full overflow-hidden">
						<div class="carousel-item active relative float-left w-full">
							<img src="images/1.avif" class="block w-full h-96 bg-cover" alt="Product name">
							<div class="carousel-caption hidden md:block absolute text-center">
								<h5 class="text-xl">Product name</h5>
							</div>
						</div>
						<div class="carousel-item hidden relative float-left w-full">
							<img src="images/2.avif" class="block w-full h-96 bg-cover" alt="Product name">
							<div class="carousel-caption hidden md:block absolute text-center">
								<h5 class="text-xl">Product name</h5>
							</div>
						</div>
						<div class="carousel-item hidden relative float-left w-full">
							<img src="images/3.avif" class="block w-full h-96 bg-cover" alt="Product name">
							<div class="carousel-caption hidden md:block absolute text-center">
								<h5 class="text-xl">Product name</h5>
							</div>
						</div>
						<div class="carousel-item hidden relative float-left w-full">
							<img src="images/4.avif" class="block w-full h-96 bg-cover" alt="Product name">
							<div class="carousel-caption hidden md:block absolute text-center">
								<h5 class="text-xl">Product name</h5>
							</div>
						</div>
						<div class="carousel-item hidden relative float-left w-full">
							<img src="images/1.avif" class="block w-full h-96 bg-cover" alt="Product name">
							<div class="carousel-caption hidden md:block absolute text-center">
								<h5 class="text-xl">Product name</h5>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
        </main>

        <footer class="bg-gray-200">
			<div class="container mx-auto px-6 py-3 flex justify-between items-center">
				<a href="#" class="text-xl font-bold text-gray-500 hover:text-gray-400">Brand</a>
				<p class="py-2 text-gray-500 sm:py-0">All rights reserved</p>
			</div>
		</footer>
    </body>
</html>
